
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Css {

    <link href="~/css/VisualizationGraph.css" rel="stylesheet" />
}
<div id="graph">
</div>
<button id="Start">Start</button>
@section Scripts {

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="~/js/VisualizationGraph.js"></script>
<script>
            $('#Start').click(start)
</script>
}